body	{
	padding-top: 75px;
	font-family: "Calibri", sans-serif;
}
#login-form	{
	min-width: 300px;
	max-width: 400px;
	margin: 0 auto;
}
.error1	{
	color: #ba1b1b;
	font-style: italic;
}
.title1	{
	font-size: 1.3em;
	text-transform: uppercase;
	border-bottom: 1px solid #ccc;
	font-family: 'Times New Roman', serif;
}